{
  "presets": [
    ["@babel/preset-react"],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.9.1",
        "targets": {
          "chrome": "60"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
